* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.container-choices {
  background-color: aqua;
  display: flex;
  justify-content: center;
  height: 100%;
}

.container-scoreboard {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}

.container-scoreboard p {
  margin: 20px;
}

.card-text {
  text-align: center;
}
