* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.rps-container {
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
}

.rps-container ul li {
  display: inline;
}

.rps-container ul {
  padding: 25px;
}

.rps-container li {
  margin: 50px;
}

.rockBtn {
  color: red;
}

.computer-choice{
    background-color: black;
     width: 100%;
     color: white;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    margin: auto;
}
